<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a routerLink="jobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item nav-link " id="nav-job-tab" data-toggle="tab"  role="tab" aria-controls="nav-home" aria-selected="true">Search</a>
    <a routerLink="job/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item nav-link" id="nav-new-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" aria-selected="false">Create</a>
  </div>
</nav>
